h2,
h1 {
    font-family: "Kavoon", serif;
    font-weight: 400;
    font-style: normal;
}

.footer-top {
    display: flex;
    gap: 350px;
    align-items: center;
    padding: 20px 40px;
}

.social {
    display: flex;
    gap: 8px;
}

.copy {
    font-size: 12px;
    color: #555;
}