@font-face {
    font-family: "libreBaskerville-Bold";
    src: url("/fuentes/LibreBaskerville-Bold.ttf") format("truetype");
}
 
@font-face {
    font-family: "libreBaskerville-Italic";
    src: url("/fuentes/LibreBaskerville-Italic.ttf") format("truetype");
}
 
@font-face {
    font-family: "libreBaskerville-Regular";
    src: url("/fuentes/LibreBaskerville-Regular.ttf") format("truetype");
}
 
body {
    font-family: "libreBaskerville-Regular";
    background-color: white;
    color: black;
}